<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
		<style>
			h1 {
				text-align: center;
				font-size: 22px;
				line-height: 40px;
				background: #445b87;
				color: #fff;
			}
			table {
				width: 100%;
				border-collapse: collapse;
			}
			th {
				background: #f9f9f9;
				border: 1px solid #e2e2e2;
				padding: 4px;
				font-size: 14px;
			}
			td {
				font-size: 14px;
				border: 1px solid #e2e2e2;
				padding: 4px 6px;
				font-size: 13px;
				width: calc(100% / 6);
			}
			a {
				color: #003eb1;
			}
			a:hover {
				text-decoration: underline;
			}
			tr.line td {
				border-bottom: 2px solid #e2e2e2;
			}
			tr:nth-child(even) {
				background: #fefefe;
			}
			td.mod {
				color: #ff4040;
			}
			td.com {
				color: #4068ff;
			}
			tr:hover {
				background: rgba(255, 255, 0, 0.1);
			}
			tr.bg {
				background-color: #e9f1ffc2;
			}
		</style>
	</head>
	<body>
		<h1 id="docTit">Rocket Tax Publishing List</h1>
		<table>
			<thead>
				<tr>
					<th scope="col">MENU</th>
					<th scope="col">2depth</th>
					<th scope="col">3depth</th>
					<th scope="col">File</th>
					<th scope="col">완료</th>
					<th scope="col">비고</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>메인</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/main.html" target="_blank"
							>main.html</a
						>
					</td>
					<td class="com">완료(4.2)</td>
					<td>김솔희 수정 (4.17)</td>
				</tr>
				<tr>
					<td>시작하기</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/start.html" target="_blank"
							>start.html</a
						>
					</td>
					<td class="com">완료(3.27)</td>
					<td></td>
				</tr>
				<tr>
					<td>로그인</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/login.html" target="_blank"
							>login.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td>로그인(팝업)</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/login_pop.html" target="_blank"
							>login_pop.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td>간편회원가입</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/join_simple.html" target="_blank"
							>join_simple.html</a
						>
					</td>
					<td class="mod">수정(4.2)</td>
					<td></td>
				</tr>
				<tr>
					<td>일반회원가입</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/join_normal.html" target="_blank"
							>join_normal.html</a
						>
					</td>
					<td class="mod">수정(4.2)</td>
					<td></td>
				</tr>
				<tr>
					<td>가입완료</td>
					<td></td>
					<td></td>
					<td>
						<a
							href="html/join_complete.html"
							target="_blank"
							>join_complete.html</a
						>
					</td>
					<td class="com">완료(2.25)</td>
					<td></td>
				</tr>
				<tr>
					<td>간편인증</td>
					<td></td>
					<td></td>
					<td>
						<a
							href="html/simple_register.html"
							target="_blank"
							>simple_register.html</a
						>
					</td>
					<td class="com">완료(3.27)</td>
					<td></td>
				</tr>
				<tr>
					<td>공인인증서 페이지연동</td>
					<td>인증서연결</td>
					<td></td>
					<td>
						<a
							href="html/certification_1.html"
							target="_blank"
							>certification_1.html</a
						>
					</td>
					<td class="com">완료(2.25)</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>홈텍스연결</td>
					<td></td>
					<td>
						<a
							href="html/certification_2.html"
							target="_blank"
							>certification_2.html</a
						>
					</td>
					<td class="com">완료(2.25)</td>
					<td></td>
				</tr>
				<tr>
					<td>환급금확인하기</td>
					<td>이름/연락처</td>
					<td></td>
					<td>
						<a href="html/refunds_1.html" target="_blank"
							>refunds_1.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>생년월일</td>
					<td></td>
					<td>
						<a href="html/refunds_2.html" target="_blank"
							>refunds_2.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>약관동의</td>
					<td></td>
					<td>
						<a href="html/refunds_3.html" target="_blank"
							>refunds_3.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>본인인증</td>
					<td></td>
					<td>
						<a href="html/refunds_4.html" target="_blank"
							>refunds_4.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>패스인증</td>
					<td>
						<a href="html/refunds_pass.html" target="_blank"
							>refunds_pass.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>카카오인증</td>
					<td>
						<a
							href="html/refunds_kakao.html"
							target="_blank"
							>refunds_kakao.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>인증실패</td>
					<td>
						<a href="html/refunds_fail.html" target="_blank"
							>refunds_fail.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>체크사항</td>
					<td></td>
					<td>
						<a href="html/refunds_5.html" target="_blank"
							>refunds_5.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>홈텍스계정</td>
					<td></td>
					<td>
						<a href="html/refunds_6.html" target="_blank"
							>refunds_6.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>동의</td>
					<td></td>
					<td>
						<a href="html/refunds_7.html" target="_blank"
							>refunds_7.html</a
						>
					</td>
					<td class="com">완료</td>
					<td></td>
				</tr>
				<tr>
					<td>세금조회로딩</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/loading.html" target="_blank"
							>loading.html</a
						>
					</td>
					<td class="com">완료(2.27)</td>
					<td></td>
				</tr>
				<tr>
					<td>소득확인하기</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/income_check.html" target="_blank"
							>income_check.html</a
						>
					</td>
					<td class="com">완료(2.27)</td>
					<td></td>
				</tr>
				<tr>
					<td>소득확인</td>
					<td></td>
					<td></td>
					<td>
						<a
							href="html/income_history_1.html"
							target="_blank"
							>income_history_1.html</a
						>
					</td>
					<td class="com">완료(2.27)</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<a
							href="html/income_history_2.html"
							target="_blank"
							>income_history_2.html</a
						>
					</td>
					<td class="com">완료(2.27)</td>
					<td></td>
				</tr>
				<tr>
					<td>납부세금분석</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/tax_history.html" target="_blank"
							>tax_history.html</a
						>
					</td>
					<td class="com">완료(2.27)</td>
					<td></td>
				</tr>
				<tr>
					<td>종소세예상납부세금</td>
					<td></td>
					<td></td>
					<td>
						<a
							href="html/tax_expectation.html"
							target="_blank"
							>tax_expectation.html</a
						>
					</td>
					<td class="com">완료(2.27)</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>신고하기</td>
					<td></td>
					<td>
						<a href="html/tax_return.html" target="_blank"
							>tax_return.html</a
						>
					</td>
					<td class="com">완료(2.26)</td>
					<td></td>
				</tr>
				<tr>
					<td>확인 팝업</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/confirm_pop.html" target="_blank"
							>confirm_pop.html</a
						>
					</td>
					<td class="com">완료(2.29)</td>
					<td></td>
				</tr>
				<tr>
					<td>결제 완료</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/pay_complete.html" target="_blank"
							>pay_complete.html</a
						>
					</td>
					<td class="com">완료(3.25)</td>
					<td></td>
				</tr>
				<tr>
					<td>종합소득세 신고대리 수수료</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/fee_info.html" target="_blank">fee_info.html</a>
					</td>
					<td class="com">4.18</td>
					<td>김솔희 신규페이지</td>
				</tr>
				<tr>
					<td>부양가족선택</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/family_select.html" target="_blank"
							>family_select.html</a
						>
					</td>
					<td class="com">완료(4.20)</td>
					<td></td>
				</tr>
				<tr>
					<td>신고서확인</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/declaration_list.html" target="_blank"
							>declaration_list.html</a
						>
					</td>
					<td class="com">완료(4.20)</td>
					<td></td>
				</tr>
				<tr>
					<td>소득금액선택</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/income_select.html" target="_blank"
							>income_select.html</a
						>
					</td>
					<td class="com">완료(4.20)</td>
					<td></td>
				</tr>
				<tr>
					<td>회원정보수정</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/user_info.html" target="_blank"
							>user_info.html</a
						>
					</td>
					<td class="com">완료(4.20)</td>
					<td></td>
				</tr>
				<tr>
					<td>회원탈퇴</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/user_secession.html" target="_blank"
							>user_secession.html</a
						>
					</td>
					<td class="com">완료(4.20)</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>탈퇴완료</td>
					<td></td>
					<td>
						<a href="html/secession_complete.html" target="_blank"
							>secession_complete.html</a
						>
					</td>
					<td class="com">완료(4.20)</td>
					<td></td>
				</tr>
				<tr>
					<td>서비스 결제내역</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/pay_history.html" target="_blank"
							>pay_history.html</a
						>
					</td>
					<td class="com">완료(4.21)</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>환불신청완료</td>
					<td></td>
					<td>
						<a href="html/refund_complete.html" target="_blank"
							>refund_complete.html</a
						>
					</td>
					<td class="com">완료(4.21)</td>
					<td></td>
				</tr>
				<tr>
					<td>소득세 신고 자료 분석</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/data_analysis.html" target="_blank"
							>data_analysis.html</a
						>
					</td>
					<td class="com">완료(4.21)</td>
					<td></td>
				</tr>
				<tr>
					<td>신고서식확인</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/report_form.html" target="_blank"
							>report_form.html</a
						>
					</td>
					<td class="com">완료(4.21)</td>
					<td></td>
				</tr>
				<tr>
					<td>신고자료정보</td>
					<td></td>
					<td></td>
					<td>
						<a href="html/report_info.html" target="_blank"
							>report_info.html</a
						>
					</td>
					<td class="com">완료(5.1)</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>

<script></script>
