<!DOCTYPE html>
<html lang="ko">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    name="viewport"
  />
  <head>
    <meta charset="UTF-8" />
    <title>Rocket Tax</title>
    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <div class="header-wrap">
        <div class="left">
          <h1 class="logo"></h1>
        </div>
        <div class="center">
          <div class="center-menu">
            <button type="button" class="btn">서비스안내</button>
            <button type="button" class="btn">비용안내</button>
          </div>
        </div>
        <div class="right">
          <div class="right-menu">
            <div class="drop">
              <button type="button" class="btn btn-md btn-line">
                마이페이지
              </button>
              <div class="my-menu">
                <button type="button" class="btn">회원정보 수정</button>
                <button type="button" class="btn">서비스 결제 내역</button>
                <button type="button" class="btn">부양자 관리</button>
                <button type="button" class="btn">추가서류 관리</button>
              </div>
            </div>
            <button type="button" class="btn btn-md btn-dark">로그아웃</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section guide">
        <div class="icon icon-phone--receipt"></div>
        <div class="tit">
          세무 전문가를 통해
          <br class="m-block" />종합소득세 신고를 하셔야<br class="m-none" />
          최대한 <br class="m-block" />세금을 절세하실 수 있어요
        </div>
        <p>
          세무 담당자를 통해 종합소득세 신고를
          <br class="m-block" />진행해 보시겠어요?
        </p>

        <div class="btn-wrap">
          <button type="button" class="btn btn-full btn-round btn-primary">
            종합소득세 신고를 부탁해요!
          </button>
        </div>
      </div>
    </div>

    <div class="modal show">
      <div class="modal-dim"></div>
      <div class="modal-con">
        <div class="modal-con--txt">
          [ ]님 종합소득세 신고 서비스 신청이 완료 되었습니다. <br />
          신고 시기가 도래하면 알림을 발송드려, <br class="m-none" />
          편하게 신고하실 수 있도록 안내 드리겠습니다.
        </div>
        <div class="btn-wrap">
          <button type="button" class="btn btn-lg btn-grey btn-round">
            취소
          </button>
          <button type="button" class="btn btn-lg btn-primary btn-round">
            확인
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
