<!DOCTYPE html>
<html lang="ko">
	<meta
		content="text/html;charset=utf-8"
		http-equiv="Content-Type"
	/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
		name="viewport"
	/>
	<head>
		<meta charset="UTF-8" />
		<title>Rocket Tax</title>
		<link
			href="../css/reset.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="../css/style.css"
			rel="stylesheet"
			type="text/css"
		/>
	</head>
	<body>
		<div class="header">
			<div class="header-wrap">
				<div class="left">
					<h1 class="logo"></h1>
				</div>
				<div class="center">
					<div class="center-menu">
						<button type="button" class="btn">
							서비스안내
						</button>
						<button type="button" class="btn">
							비용안내
						</button>
					</div>
				</div>
				<div class="right">
					<div class="right-menu">
						<button
							type="button"
							class="btn btn-md btn-line"
							onclick="location.href='login.html'"
						>
							로그인
						</button>
						<button
							type="button"
							class="btn btn-md btn-dark"
							onclick="location.href='join_simple.html'"
						>
							회원가입
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="section guide">
				<div class="tit">
					이제, 인증서만 등록하시면 됩니다!<br />
					간편인증서 또는 공동인증서를 선택하여
					등록해주세요.
				</div>
				<p class="type2">
					추가로 필요한 서류는 세무 담당자님이 연락
					드릴거에요. 편한 방법으로 인증 부탁드릴게요.
				</p>
				<div class="login-btn--wrap">
					<button type="button" class="btn kakao">
						카카오 간편 등록
					</button>
					<button type="button" class="btn naver">
						Pass 간편 등록
					</button>
				</div>
				<div class="login-btn--wrap m-t--20">
					<button type="button" class="btn public">
						공동인증서 등록
					</button>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="footer-wrap">
				<div class="left">
					<div class="logo"></div>
					<div class="info-line">
						<span><label>유한회사</label>로켓택스</span>
						<span><label>대표자</label>문재완</span>
						<span
							><label>개인정보보호책임자</label>문재완</span
						>
					</div>
					<div class="info-line">
						<span
							><label>사업자등록번호</label
							>408-86-18047</span
						>
						<span
							><label>통신판매업</label
							>2014-서울용산-00936호</span
						>
					</div>
					<div class="info-line">
						<span
							><label>주소</label>서울특별시 송파구
							충민로10, 8층 에스16케이5호</span
						>
					</div>
					<div class="copy">
						Copyright©2024 로켓택스 All rights reserved
					</div>
				</div>
				<div class="right">
					고객센터
					<div class="call">02-514-3708</div>
					<p>
						09:00 ~ 18:00 (점심시간 12:00~13:00) <br />
						주말, 공휴일 휴무
					</p>
				</div>
			</div>
		</div>

		<div class="modal">
			<div class="modal-dim"></div>
			<div class="modal-con">
				<div class="icon icon-people"></div>
				계정 정보가 일치하지 않습니다.
				<div class="btn-wrap">
					<button
						type="button"
						class="btn btn-lg btn-primary btn-round"
					>
						확인
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
